html {
  margin: none;
  background-color: red;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow-y: hidden;
  min-height: 100vh;
  min-width: 100vh;
  margin: 0;
  background-color: rgb(210, 210, 193);
}
