<body class="main">
  <div class="landing-left-container">
    <div class="landing-title-container">
      <p class="landing-title">I</p>
      <p class="landing-title">Review</p>
      <p class="landing-title">.</p>
      <p class="landing-title">Coffee</p>
    </div>
    <p class="landing-description">
      Welcome! This is a personal project where I review coffee shops in the NWA
      area.
    </p>

    <p class="temp-bttn">Learn More</p>
  </div>

  <div class="landing-right-container">
    <div class="landing-pannel">
      <p class="temp-names">Onyx</p>
      <p class="temp-score">4.5/5</p>
    </div>
    <div class="landing-pannel">
      <p class="temp-names">Old Pine</p>
      <p class="temp-score">5/5</p>
    </div>
    <div class="landing-pannel">
      <p class="temp-names">Puritan</p>
      <p class="temp-score">4/5</p>
    </div>
    <div class="landing-pannel">
      <p class="temp-names">Onyx</p>
      <p class="temp-score">4/5</p>
    </div>
    <div class="landing-pannel">
      <p class="temp-names">Hill Coffee Co</p>
      <p class="temp-score">3/5</p>
    </div>
    <div class="landing-pannel">
      <p class="temp-names">Arsagas</p>
      <p class="temp-score">3/5</p>
    </div>
  </div>
</body>
